/*
общий синтаксис
селектор1 {
	переменная1: значение1;
	перем.2: зн.2;
	etc
}

селектор2 {
	etc
}
etc
*/

/* допустим */
/* мы хотм сделать побольше шрифт у всех li */

li {
	font-size: 20px;
}

.inbox {
	border: 1px solid black;
}

#js {
	font-size: 50px;
	height: 500px;
}